<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583542775440-ehdhgqj7jprq1tslmq9vbddt04ubl9ii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583542775440-ehdhgqj7jprq1tslmq9vbddt04ubl9ii</string>
	<key>API_KEY</key>
	<string>AIzaSyBlaVLScObrA4fFOsIfNjDfk0c9KmuXLKc</string>
	<key>GCM_SENDER_ID</key>
	<string>583542775440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firstemos.todoapp</string>
	<key>PROJECT_ID</key>
	<string>ictemos</string>
	<key>STORAGE_BUCKET</key>
	<string>ictemos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583542775440:ios:1310af5d6a026c000a8215</string>
</dict>
</plist>